*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
body{
    background-color:#2E2E2E;
    padding: 0;
}
.login-logo{
    width: 15vw;
    height: auto;
}
.sidebar-logo{
    width: 10vw;
    height: auto;
    border-radius: 100%;
}
.navlinks{
    text-decoration: none;
    font-size: large;
}
.sidenav{
    background-color: #2BC543;
}
.horizontal-rule{
    border: 0.2vh solid #EFEFEF;
}
.inputbox{
    background-color: #C2C2C2;
}