*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:#2E2E2E;
    padding: 0;
}
.login-logo{
    width: 15vw;
    height: auto;
}
.inputbox{
    background-color: #C2C2C2;
}
.content{
    padding-left: 100px;
}