*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
body{
    background-color: #2E2E2E;
    padding: 0;
}
.ploginbg{
    background-image: linear-gradient(#0f457a, #12569C, #fac236);
}
.login-logo{
    width: 5vw;
    height: auto;
}
.sidebar-logo{
    width: 10vw;
    height: auto;
    border-radius: 100%;
}
.navlinks2{
    font-size: medium;
    font-weight: 500;
}
.sidenav{
    background-image: linear-gradient(to bottom, #0f457a, #12569C, #12569C, #fac236);
}
.horizontal-rule{
    border-top: 2px solid #fac236;
    opacity: 100%;
}
.inputbox{
    background-color: #C2C2C2;
    border:  1px #2E2E2E solid ;
}
.client-record{
    font-size:x-large;
    font-weight: 500;
}
th{
    font-size: large;
    font-weight:600;
}
th,td{
    overflow-wrap: break-word;
}

/* Table Style */
.smallcell{
    min-width: 8vw;
    max-width: 8vw;
}
.medcell{
    min-width: 10vw;
    max-width: 10vw;
}
.largecell{
    min-width: 15vw;
    max-width: 15vw;
}
.autocell{
    min-width: 30vw;
    max-width: 50vw;
}
.celltextsmall{
    font-size: small;
}
.bg-tr{
    background: #FF7A59;
    opacity: .5;
}
.inputbox2{
    padding-left: 5px;
}
.search:active, .search:focus {
    outline: 0;
    border: 0;
}
.search{
    border-radius: 15px 0 0 15px;
}
.searchbtn{
    border-radius: 0 20px 20px 0;
    width: 5vw;
}
